
#loader{
    z-index:10000000000000000000;
    position:absolute;
    margin-top:0%;
    margin-left:0%;
    height:100%;
    width:100%;
}



html{
    scrollbar-width: none;
    overflow: hidden;

}
body{
    background-image:url('graphics_homescreen/background.svg');
    text-align:center;
    background-repeat:no-repeat;

}
@font-face {
src: url(https://dl.dropbox.com/s/uougf9v63jmphoj/Jojoba.otf);
font-family: jojoba;
}

#text{
 background-image: url('graphics_homescreen/text (1).svg');
    background-size: 175%;
    background-position: 45% 100%;
    height:20%;
    width:59%;
    position:absolute;
    top: 60%;
    left:22%;
    pointer-events: all;

}

#textcontent{
position:relative;
font-family:jojoba;
font-size:1.1em;
text-align:center;
font-weight:lighter;
top:15%;
padding-left:10%;
padding-right:2%;
color:rgb(7, 33, 112);
pointer-events:none;
}
@font-face {
src: url(https://dl.dropbox.com/s/hfc6fjqu9kkxbt5/Sweet%20Creamy.ttf);
font-family: creamy;
}

#create{
    border-radius:16px;
    background-color:cornflowerblue;
    backdrop-filter: blur(50px);
    width: 85%;
    height: 10%;
    position: absolute;
    font-family: creamy;
    top: 10%;
    left: 7.5%;
    border: 2px dashed whitesmoke;
    color:white;

}
#hurry{
  border-radius:16px;
    background-color:cornflowerblue;
    backdrop-filter: blur(50px);
    width: 85%;
    height: 10%;
    position: absolute;
    font-family: creamy;
    top: 25%;
    left: 7.5%;
    border: 2px dashed whitesmoke;
    color:white;
}


    
