#text img{
    position:absolute;
    height: 5%;
    left: 85%;
    top: 2%;
    border-radius: 50px;

}

body{
    background-image:url('graphicsforeveryscreen/background.svg'); 
     text-align:center;
    background-repeat:no-repeat;
}

html{
    scrollbar-width: none;
    overflow: hidden;

}

 #text1{
 background-image: url('graphics_homescreen/text (1).svg');
    background-size: 175%;
    background-position: 45% 100%;
    height:20%;
    width:59%;
    position:absolute;
    top: 60%;
    left:22%;
    pointer-events: all;

}
@font-face {
src: url(https://dl.dropbox.com/s/uougf9v63jmphoj/Jojoba.otf);
font-family: jojoba;
}

#textcontent{
position:relative;
font-family:jojoba;
font-size:1.1em;
text-align:center;
font-weight:lighter;
top:15%;
padding-left:10%;
padding-right:2%;
color:rgb(7, 33, 112);
pointer-events:none;
}



input:focus{
    outline:none;


}
input[type="number"]{
    border-radius:16px;
    z-index:3;
}

#hourfield{
    border-radius: 16px;
    border: none;
    outline: none;
    position: absolute;
    top: 20%;
    height: 10%;
    width: 10%;
    left: 23%;
    z-index:3;
}

@font-face {
src: url(https://dl.dropbox.com/s/mes7b666uvig5wc/Winkle-Regular.otf);
font-family: winkle;
}
#notificationdots{
    margin: 0%;
    position: absolute;
    left: 48%;
    top: 22%;
    font-family:'winkle';
    font-size: 4em;
    z-index:3;
    color:white;
}
  
#minutesfield{
    border-radius: 16px;
    border: none;
    outline: none;
    position: absolute;
    top: 20%;
    height: 10%;
    width: 10%;
    left: 65%;
    z-index:3;
}



#notification{
    position: absolute;
    top: 35%;
    left: 13%;
    font-family:'winkle';
    font-size: 1.5em;
    z-index:3;
    color:white;
}

#backgroundforthetime{
    position:absolute;
    height:30%;
    width: 80%;
    background-color: blue;
    top: 14%;
    border-radius: 16px;
    left: 10%;
    background-image: url(https://dl.glitter-graphics.com/pub/3132/3132972qrp6ithw8b.jpg);
    border: 5px dotted;
    border-color: white;
}



input[type="number"] {
  font-size: 33%;  
  color: #f5df3d; 
}

input[type="number"]::placeholder {
  font-size: 600%;
  color: #f5df3d; 
}