#text img{
    position:absolute;
    height: 5%;
    left: 85%;
    top: 2%;
    border-radius: 50px;

}

body{
    background-image:url('../graphicsforeveryscreen/background.svg'); 
     text-align:center;
    background-repeat:no-repeat;
}

html{
    scrollbar-width: none;
    overflow: hidden;

}

 #text1{
 background-image: url('../graphics_homescreen/text (1).svg');
    background-size: 175%;
    background-position: 45% 100%;
    height:20%;
    width:59%;
    position:absolute;
    top: 60%;
    left:22%;
    pointer-events: all;

}
@font-face {
src: url(https://dl.dropbox.com/s/uougf9v63jmphoj/Jojoba.otf);
font-family: jojoba;
}

#textcontent{
position:relative;
font-family:jojoba;
font-size:1.1em;
text-align:center;
font-weight:lighter;
top:17%;
padding-left:10%;
padding-right:2%;
color:rgb(7, 33, 112);
pointer-events:none;
}



input:focus{
    outline:none;


}
input[type="number"]{
    border-radius:16px;
    z-index:3;
}

#hourfieldfortheway{
    border-radius: 16px;
    border: none;
    outline: none;
    position: absolute;
    top: 20%;
    height: 10%;
    width: 10%;
    left: 23%;
    z-index:3;
}

@font-face {
src: url(https://dl.dropbox.com/s/mes7b666uvig5wc/Winkle-Regular.otf);
font-family: winkle;
}
#notificationdotsfortheway{
    margin: 0%;
    position: absolute;
    left: 48%;
    top: 22%;
    font-family:'winkle';
    font-size: 4em;
    z-index:3;
    color:white;
}
  
#minutesfieldfortheway{
    border-radius: 16px;
    border: none;
    outline: none;
    position: absolute;
    top: 20%;
    height: 10%;
    width: 10%;
    left: 65%;
    z-index:3;
}



#notificationfortheway{
    position: absolute;
    top: 12%;
    left: 31%;
    font-family:'winkle';
    font-size: 1.5em;
    z-index:3;
    color:white;
}

#backgroundforthetimefortheway{
    position:absolute;
    height:44%;
    width: 80%;
    background-color: blue;
    top: 14%;
    border-radius: 16px;
    left: 10%;
    background-image: url(https://dl.glitter-graphics.com/pub/3132/3132972qrp6ithw8b.jpg);
    border: 5px dotted;
    border-color: white;
}

 #next{
    position: absolute;
    width: 60%;
    top: 79%;
    left: 1%;
    pointer-events: visiblePainted}

    @font-face {
src: url(https://dl.dropbox.com/s/0yg7g2z7st9k0xg/Willond.ttf);
font-family: willond;
}
    #bagname{
    font-family: willond;
    margin-top: -9%;
    color: darkslateblue;
    }


 #bag1.selected {
  border: 5px dotted white;
  border-radius: 16px;
}

#bag1 {
  position: absolute;
  z-index: 10;
  top: 5%;
  left: 2%;
  border: none; 
}

#bag2.selected {
  border: 5px dotted white;
  border-radius: 16px;
}

#bag2 {
  position: absolute;
  z-index: 10;
  top: 5%;
  left: 52%;
  border: none; 
}


#bag3.selected {
  border: 5px dotted white;
  border-radius: 16px;
}

#bag3 {
  position: absolute;
  z-index: 10;
  top: 53%;
  left: 2%;
  border: none; 
}

#bag4.selected {
  border: 5px dotted white;
  border-radius: 16px;
}

#bag4 {
  position: absolute;
  z-index: 10;
  top: 53%;
  left: 52%;
  border: none; 
}

#timefortheway{
    overflow-y: auto;
    position: absolute;
    height: 41%;
    width: 82%;
    left: 10%;
    top: 17%;}


summary::marker {
  display: none;
}

summary::-webkit-details-marker {
  display: none;
}


::marker{
    display:none;}

details summary {
  list-style: none;
}

details summary::marker {
  display: none !important;
}


#clothingitem1{
    z-index:60;
    position:absolute;
     padding-left:5%;
     left:40%;
}

#clothingitem2{
    z-index:60;
    position:absolute;
     padding-right:5%;
     left:5%;
}

#clothingitem3{
    z-index:60;
    position:absolute;
     padding-left:5%;
     left:80%;
}

#clothingitem4{
    z-index:60;
    position:absolute;
     padding-left:5%;
     left:80%;
}
#clothingitem5{
    z-index:60;
    position:absolute;
    padding-right:5%;
    left:5%;
}
#clothingitem6{
    z-index:60;
    position:absolute;
    padding-left:5%;
     left:180%;
}
#clothingitem7{
    z-index:60;
    position:absolute;
    padding-left:5%;
     left:130%;
}
#clothingitem8{
    z-index:60;
    position:absolute;
    padding-left:5%;
    left:40%;
}
#clothingitem9{
    z-index:60;
    position:absolute;
     padding-left:5%;
     left:130%;
}
#clothingitem10{
    z-index:60;
    position:absolute;
     padding-left:5%;
     left:180%;
}
#clothingitem11{
    z-index:60;
    position:absolute;
     padding-left:5%;
     left:130%;
}
#clothingitem12{
    z-index:60;
    position:absolute;
    padding-right:5%;
    left:5%;
}
#clothingitem13{
    z-index:60;
    position:absolute;
    padding-left:5%;
     left:40%;
}
#clothingitem14{
    z-index:60;
    position:absolute;
    padding-left:5%;
     left:80%;
}
#clothingitem15{
    z-index:60;
    position:absolute;
     padding-left:5%;
     left:180%;
}

#clothingitem1.selected {
filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(0 2px 0 white) drop-shadow(0 -1px 0 white) drop-shadow(0 1px 1.5px white) drop-shadow(0 -1px 1.5px white) drop-shadow(1px -1px 1.5px white) drop-shadow(-1px -1px 1.5px lightyellow);
}
#clothingitem2.selected {
filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(0 2px 0 white) drop-shadow(0 -1px 0 white) drop-shadow(0 1px 1.5px white) drop-shadow(0 -1px 1.5px white) drop-shadow(1px -1px 1.5px white) drop-shadow(-1px -1px 1.5px lightyellow);
}
#clothingitem4.selected {
filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(0 2px 0 white) drop-shadow(0 -1px 0 white) drop-shadow(0 1px 1.5px white) drop-shadow(0 -1px 1.5px white) drop-shadow(1px -1px 1.5px white) drop-shadow(-1px -1px 1.5px lightyellow);
}
#clothingitem3.selected {
filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(0 2px 0 white) drop-shadow(0 -1px 0 white) drop-shadow(0 1px 1.5px white) drop-shadow(0 -1px 1.5px white) drop-shadow(1px -1px 1.5px white) drop-shadow(-1px -1px 1.5px lightyellow);
}
#clothingitem5.selected {
filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(0 2px 0 white) drop-shadow(0 -1px 0 white) drop-shadow(0 1px 1.5px white) drop-shadow(0 -1px 1.5px white) drop-shadow(1px -1px 1.5px white) drop-shadow(-1px -1px 1.5px lightyellow);
}
#clothingitem6.selected {
filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(0 2px 0 white) drop-shadow(0 -1px 0 white) drop-shadow(0 1px 1.5px white) drop-shadow(0 -1px 1.5px white) drop-shadow(1px -1px 1.5px white) drop-shadow(-1px -1px 1.5px lightyellow);
}
#clothingitem7.selected {
 filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(0 2px 0 white) drop-shadow(0 -1px 0 white) drop-shadow(0 1px 1.5px white) drop-shadow(0 -1px 1.5px white) drop-shadow(1px -1px 1.5px white) drop-shadow(-1px -1px 1.5px lightyellow);
}
#clothingitem8.selected {
filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(0 2px 0 white) drop-shadow(0 -1px 0 white) drop-shadow(0 1px 1.5px white) drop-shadow(0 -1px 1.5px white) drop-shadow(1px -1px 1.5px white) drop-shadow(-1px -1px 1.5px lightyellow);
}
#clothingitem9.selected {
filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(0 2px 0 white) drop-shadow(0 -1px 0 white) drop-shadow(0 1px 1.5px white) drop-shadow(0 -1px 1.5px white) drop-shadow(1px -1px 1.5px white) drop-shadow(-1px -1px 1.5px lightyellow);
}
#clothingitem10.selected {
filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(0 2px 0 white) drop-shadow(0 -1px 0 white) drop-shadow(0 1px 1.5px white) drop-shadow(0 -1px 1.5px white) drop-shadow(1px -1px 1.5px white) drop-shadow(-1px -1px 1.5px lightyellow);}
#clothingitem11.selected {
  filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(0 2px 0 white) drop-shadow(0 -1px 0 white) drop-shadow(0 1px 1.5px white) drop-shadow(0 -1px 1.5px white) drop-shadow(1px -1px 1.5px white) drop-shadow(-1px -1px 1.5px lightyellow);
}
#clothingitem12.selected {
  filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(0 2px 0 white) drop-shadow(0 -1px 0 white) drop-shadow(0 1px 1.5px white) drop-shadow(0 -1px 1.5px white) drop-shadow(1px -1px 1.5px white) drop-shadow(-1px -1px 1.5px lightyellow);
}
#clothingitem13.selected {
  filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(0 2px 0 white) drop-shadow(0 -1px 0 white) drop-shadow(0 1px 1.5px white) drop-shadow(0 -1px 1.5px white) drop-shadow(1px -1px 1.5px white) drop-shadow(-1px -1px 1.5px lightyellow);
}
#clothingitem14.selected {
 filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(0 2px 0 white) drop-shadow(0 -1px 0 white) drop-shadow(0 1px 1.5px white) drop-shadow(0 -1px 1.5px white) drop-shadow(1px -1px 1.5px white) drop-shadow(-1px -1px 1.5px lightyellow);
}
#clothingitem15.selected {
 filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(0 2px 0 white) drop-shadow(0 -1px 0 white) drop-shadow(0 1px 1.5px white) drop-shadow(0 -1px 1.5px white) drop-shadow(1px -1px 1.5px white) drop-shadow(-1px -1px 1.5px lightyellow);
}
.shirts{
    display: block;
    width: 80%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: 14%;
    top: 18%;
    position: absolute;
    left:11%;
}

.shoes{
    display: block;
    width: 80%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: 12%;
    top: 47%;
    position: absolute;
    left:11%;
}
.bottoms{
    display: block;
    width: 80%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: 14%;
    top: 33%;
    left:11%;
    position: absolute;
}



#clouds{
	padding: 100px 0;
	background: #c9dbe9;
	background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
}

/*Time to finalise the cloud shape*/
.cloud {
	width: 200px; height: 60px;
	background: #fff;
	
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	
	position: relative; 
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
	-webkit-animation: moveclouds 15s linear infinite;
  animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite;
}


.x2 {
	left: 200px;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6; 
	

	-webkit-animation: moveclouds 25s linear infinite;
  animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}

.x3 {
	left: -250px; top: -200px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; 
	
	-webkit-animation: moveclouds 20s linear infinite;
  animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
  animation: moveclouds 20s linear infinite;
}

.x4 {
	left: 470px; top: -250px;
	
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.75; 
	
	-webkit-animation: moveclouds 18s linear infinite;
  animation: moveclouds 18s linear infinite;
	-moz-animation: moveclouds 18s linear infinite;
	-o-animation: moveclouds 18s linear infinite;
}

.x5 {
	left: -150px; top: -150px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; 
	
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
  animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}




 @font-face {font-family: "Disney"; src: url('http://static.tumblr.com/npggxjg/VdAlzs1dx/disney.otf');}